# See https://pre-commit.com for more information
---
repos:
    - repo: meta
      hooks:
          - id: check-hooks-apply
          - id: check-useless-excludes
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-added-large-files
    - repo: https://github.com/gitleaks/gitleaks
      rev: v8.21.2
      hooks:
          - id: gitleaks
    - repo: https://github.com/JohnnyMorganz/StyLua
      rev: v2.0.2
      hooks:
          - id: stylua-system
    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.43.0
      hooks:
          - id: markdownlint
            exclude: "CHANGELOG.md"
    - repo: https://github.com/Calinou/pre-commit-luacheck
      rev: v1.0.0
      hooks:
          - id: luacheck
            files: lua/
